Repository fishjam-dev/membrane_rtc_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mickel8, @sgfn, @Karolk99, @Rados13

.github/CODEOWNERS:

# Engine
engine/ @mickel8 @sgfn

# WebRTC
webrtc/ @mickel8
*webrtc* @mickel8

# HLS
hls/ @Karolk99
*hls* @Karolk99

# RTSP
rtsp/ @sgfn
*rtsp* @sgfn

# File
file/ @Rados13

# Sip
sip/ @sgfn @Rados13
*sip* @sgfn @Rados13

[RTC-476] Add crash groups, fix adding nonexistent tracks to state, fix READMEs (#366)
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  recording/CHANGELOG.md
  recording/README.md
  recording/lib/recording_endpoint.ex
Owners: @mickel8, @sgfn

Create AWS Storage for Recording Endpoint
  recording/CHANGELOG.md
  recording/config/config.exs
  recording/config/test.exs
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/lib/storage/s3/sink.ex
  recording/mix.exs
  recording/mix.lock
  recording/test/fixtures/empty.txt
  recording/test/storage/file_test.exs
  recording/test/storage/s3/sink_test.exs
  recording/test/storage/s3_test.exs
  recording/test/test_helper.exs
Owners: none

Add integration tests and some fixes
  integration_test/config/config.exs
  integration_test/config/test.exs
  integration_test/mix.exs
  integration_test/mix.lock
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  integration_test/test/test_helper.exs
  recording/lib/recording_endpoint.ex
  recording/lib/storage/s3/sink.ex
  recording/test/storage/s3/sink_test.exs
Owners: none

s3 sink optimization
  recording/lib/storage/s3/sink.ex
  recording/test/storage/s3/sink_test.exs
  recording/test/test_helper.exs
Owners: none

Update CI
  .circleci/continue_config.yml
Owners: none

Change requests
  integration_test/config/config.exs
  integration_test/config/test.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/test_helper.exs
  recording/config/config.exs
  recording/config/test.exs
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/s3/sink.ex
  recording/test/storage/s3/sink_test.exs
  recording/test/test_helper.exs
Owners: none

Requested changes
  integration_test/test/recording_endpoint_test.exs
  recording/lib/storage.ex
Owners: none

Recording endpoint aws storage (#369)
  .circleci/continue_config.yml
  integration_test/mix.exs
  integration_test/mix.lock
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  integration_test/test/test_helper.exs
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/lib/storage/s3/sink.ex
  recording/mix.exs
  recording/mix.lock
  recording/test/fixtures/empty.txt
  recording/test/storage/file_test.exs
  recording/test/storage/s3/sink_test.exs
  recording/test/storage/s3_test.exs
  recording/test/test_helper.exs
Owners: none

Update dependency to membrane_h26x_plugin.
  file/mix.exs
  file/mix.lock
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  rtsp/mix.exs
  rtsp/mix.lock
Owners: @Rados13, @Karolk99, @sgfn
